html {
    font-size: 16px;
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-item {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #fff;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}


a {
    color: #7e7e7e;
}

a:hover {
    color: #000000;
}


/* Header*/

.navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
    font-weight: 500;
    /*text-transform: uppercase;*/
}
.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}
.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after{
    transform: scale(1);
}

.footer {
    color: #343434;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}
.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
}

.modal-body img {
    max-width: 50px;
}

