html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #fff;
    min-width: 320px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}


a {
    color: #000;
}

a:hover {
    color: #7e7e7e;
}


/* Navbar */

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-item {
    font-family: 'Montserrat', sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
    font-weight: 500;
    /*text-transform: uppercase;*/
}
.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}
.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after{
    transform: scale(1);
}

/* Footer */
.footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #343434;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}
.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
}

.footer i {
    font-size: 20px;
}

/* Modal BUY CART */
.modal-title {
    margin-bottom: 0;
    line-height: var(--bs-modal-title-line-height);
    font-size: 16px;
}

.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    font-size: 16px;
}

.modal-body img {
    max-width: 50px;
}

/* Carousel */

.my-carousel .carousel-item {
    max-height: 650px;
}

.carousel-item h5 {
   font-family: 'Montserrat', sans-serif;

}

.carousel-item a {
    color: #fff;
    text-decoration: none;
}

/* Product card */

.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px;
}

.product-details h4 a {
    font-size: 22px;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    height: 44px;
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-size: 18px;
    color: #ee6e73;
}

.product-price small {
    color: #878484;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-links a {
    font-size: 20px;
    margin-left: 10px;
}

/*xhtml tree list*/

:root{

  --width      : 36;

  --rounding   : 4px;

  --accent     : #696;

  --dark-grey  : #ddd;

  --grey       : #eee;

  --light-grey : #f8f8f8;

}

*, ::before, ::after {

    box-sizing: border-box;

    margin: 0;

}

html {

    /*font-size: clamp(16px, 100vw / var(--width), 20px);*/

    font-feature-settings: 'onum','pnum';

    line-height: 1.8;

    -webkit-text-size-adjust: none;

    text-size-adjust: none;

    height: 100%;

}

body {

  height: 100%;

  display: block;

  place-items: center;

}



.tree-padding{

  --spacing    : 1.5rem;

  --radius     : 10px;

  padding-left : 1rem;

}



.tree-padding li{

  display      : block;

  position     : relative;

  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);

}



.tree-padding ul{

  margin-left  : calc(var(--radius) - var(--spacing));

  padding-left : 0;

}



.tree-vertical-lines ul li{

  border-left : 2px solid var(--dark-grey);

}



.tree-vertical-lines ul li:last-child{

  border-color : transparent;

}



.tree-horizontal-lines ul li::before{

  content      : '';

  display      : block;

  position     : absolute;

  top          : calc(var(--spacing) / -2);

  left         : -2px;

  width        : calc(var(--spacing) + 2px);

  height       : calc(var(--spacing) + 1px);

  border       : solid var(--dark-grey);

  border-width : 0 0 2px 2px;

}



.tree-summaries summary{

  display : block;

  cursor  : pointer;

}



.tree-summaries summary::marker,

.tree-summaries summary::-webkit-details-marker{

  display : none;

}



.tree-summaries summary:focus{

  outline : none;

}



.tree-summaries summary:focus-visible{

  outline : 1px dotted #000;

}



.tree-markers li::after,

.tree-markers summary::before{

  content       : '';

  display       : block;

  position      : absolute;

  top           : calc(var(--spacing) / 2 - var(--radius));

  left          : calc(var(--spacing) - var(--radius) - 1px);

  width         : calc(2 * var(--radius));

  height        : calc(2 * var(--radius));

  border-radius : 50%;

  background    : var(--dark-grey);

}



.tree-buttons summary::before{

  content     : '+';

  z-index     : 1;

  background  : var(--accent);

  color       : #fff;

  font-weight : 400;

  line-height : calc(2 * var(--radius) - 2px);

  text-align  : center;

}



.tree-buttons details[open] > summary::before{

  content : '−';

}



/*sidebar catalog*/

.content, .sidebar {
	border: 1px solid white;
	color: white;
	padding: 20px;
	text-transform: uppercase;
	min-height: 500px;
}

.content {
	min-height: 2000px;
}

.sidebar::before {
	content: '';
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #DB4ECB;
	z-index: -1;
	margin-left: -35px;
}

@media screen and (max-width: 991px) {
	.sidebar::before {
		display: none;
	}
}
