{% extends 'mainsite/base.html' %}
{% load cart_tags %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Наименование товара</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
      <th scope="col">Итоговая стоимость</th>
    </tr>
  </thead>
  <tbody>
  {% for i in cart %}
    <tr>
      <th scope="row"></th>
      <td><img class="cart-detail-img" src="{{ i.image }}"> {{i.name}}</td>
      <td>{{i.quantity}}</td>
      <td>{{i.price}} руб.</td>
      <td>{{i.total_price}} руб.</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <h3>Итоговая стоимость: {{ cart_total_bill }}руб.</h3>
  </tfoot>
</table>
<form action="{% url 'order_create' %}">
  <input type="submit" value="Продолжить оформление" class="btn btn-primary">
</form>
{% endblock content %}
