{% extends 'mainsite/base.html' %}
{% load cart_tags %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Наименование товара</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
      <th scope="col">Итоговая стоимость</th>
    </tr>
  </thead>
  <tbody>
  {% for i in cart %}
    <tr>
      <td><img class="cart-detail-img" src="{{ i.image }}"> {{i.name}}</td>
      <td>{{i.quantity}}</td>
      <td>{{i.price}} руб.</td>
      <td>{{i.total_price}} руб.</td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>

  </tfoot>
</table>
<h5>Итоговая стоимость: <strong>{{ cart_total_amount }} руб.</strong></h5>
<form method="post">
  <input type="submit" value="Оформиь заказ" class="btn btn-primary">
  {% csrf_token %}
</form>
{% endblock content %}
