{% extends 'mainsite/base.html' %}

{% block content %}
<!--<div id='cssmenu'>-->
<!--<ul>-->
<!--  <li><a href='#'>Home</a></li>-->
<!--    <li class='active'><a href='#'>Products</a>-->
<!--	<ul>-->
<!--	  <li><a href='#'>Product 1</a>-->
<!--	    <ul>-->
<!--		<li><a href='#'>Sub Product</a></li>-->
<!--		<li><a href='#'>Sub Product</a>-->
<!--		  <ul>-->
<!--		    <li><a href='#'>Sub Product</a></li>-->
<!--			<li><a href='#'>Sub Product</a></li>-->
<!--			<li><a href='#'>Sub Product</a></li>-->
<!--		  </ul>-->
<!--		</li>-->
<!--	      <li><a href='#'>Sub Product</a></li>-->
<!--	      <li><a href='#'>Sub Product</a></li>-->
<!--	      <li><a href='#'>Sub Product</a></li>-->
<!--	      <li><a href='#'>Sub Product</a></li>-->
<!--              <li><a href='#'>Sub Product</a></li>-->
<!--	  </ul>-->
<!--	</li>-->
<!--	<li><a href='#'>Product 2</a>-->
<!--	  <ul>-->
<!--	     <li><a href='#'>Sub Product</a></li>-->
<!--	     <li><a href='#'>Sub Product</a></li>-->
<!--          </ul>-->
<!--	</li>-->
<!--    </ul>-->
<!--  </li>-->
<!--  <li><a href='#'>About</a></li>-->
<!--  <li><a href='#'>Contact</a></li>-->
<!--</ul>-->
<!--</div>-->



<!--<ul class="tree">-->
<!--  <li><a href="">Home</a></li>-->
<!--  <li><span>Category</span>-->
<!--    <ul>-->
<!--      <li><a href="#">jQuery</a>-->
<!--        <ul>-->
<!--          <li><a href="#">jQuery</a></li>-->
<!--          <li><a href="#"><a href="https://www.jqueryscript.net/tags.php?/jQuery UI/">jQuery UI</a></a></li>-->
<!--          <li><a href="#">jQuery Mobile</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li><a href="#">JavaScript</a>-->
<!--        <ul>-->
<!--          <li><a class="active" href="#">AngularJS</a></li>-->
<!--          <li><a href="#">React</a></li>-->
<!--          <li><a href="#">Backbone</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li><a href="#suits">Golang</a></li>-->
<!--    </ul>-->
<!--  </li>-->
<!--  <li><a href="#about">About</a>-->
<!--    <ul>-->
<!--      <li><a href="#">Contact</a></li>-->
<!--      <li><a href="#">Blog</a></li>-->
<!--      <li><a href="#">Jobs</a>-->
<!--        <ul>-->
<!--          <li><a href="#jobs1">Job 1</a></li>-->
<!--          <li><a href="#jobs2">Job 2</a></li>-->
<!--          <li><a href="#jobs3">Job 3</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->


<!--<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->
<!--<script src="jquery.treemenu.js"></script>-->

<ul class="tree-padding tree-vertical-lines tree-horizontal-lines tree-summaries tree-markers tree-buttons">
  <li>
    <details open>
      <summary>Инструмент</summary>
      <ul>
        <li>
          <details>
            <summary>Режущий</summary>
            <ul>
              <li>Пилы</li>
              <li>Бензопилы</li>
              <li>Стеклорезы</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Монтажный</summary>
            <ul>
              <li>Наборы ключей</li>
              <li>Ударный инструмент</li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Сантехника</summary>
      <ul>
        <li>
          <details>
            <summary>Запорная арматура</summary>
            <ul>
              <li>Краны перекрывающие</li>
              <li>Клапаны</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Смесители</summary>
            <ul>
              <li>Кухонные</li>
              <li>Для санузлов</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Трубы</summary>
            <ul>
              <li>ПВХ</li>
              <li>Металлические</li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Строительные материалы</summary>
      <ul>
        <li>
          <details>
            <summary>Смеси</summary>
            <ul>
              <li>Шпатлевка</li>
              <li>Штукатурка</li>
              <li>Клеевые составы</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Древесина</summary>
            <ul>
              <li>Доски обрезные</li>
              <li>Брус</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Плитка</summary>
            <ul>
              <li>Напольная</li>
              <li>Настенная</li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Электрика</summary>
      <ul>
        <li>
          <details>
            <summary>Провода</summary>
            <ul>
              <li>Кабеля</li>
              <li>Провод</li>
              <li>Элементы монтажа</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Электромонтажное оборудование</summary>
            <ul>
              <li>Розетки</li>
              <li>Выключатели</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Защита электросетей</summary>
            <ul>
              <li>Стабилизаторы напряжения</li>
              <li>Дифференциальные автоматы, УЗО</li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Электрооборудование</summary>
      <ul>
        <li>
          <details>
            <summary>Инструмент</summary>
            <ul>
              <li>Пилы дисковые</li>
              <li>Дрели, перфораторы, шуруповерты</li>
              <li>Болгарки</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Товары для пайки</summary>
            <ul>
              <li>Паяльники, паяльные станции</li>
              <li>Аксессуары для пайки</li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Мебель</summary>
      <ul>
        <li>
          <details>
            <summary>Офисная</summary>
            <ul>
              <li>Столы</li>
              <li>Стулья</li>
              <li>Шкафы, комплекты</li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Для кухни и гостинной</summary>
            <ul>
              <li>Комплекты кухонные</li>
              <li>Столы</li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
</ul>

{% endblock content %}
