{% extends 'mainsite/base.html' %}

{% block content %}
<!--<div id='cssmenu'>-->
<!--<ul>-->
<!--  <li><a href='#'>Home</a></li>-->
<!--    <li class='active'><a href='#'>Products</a>-->
<!--	<ul>-->
<!--	  <li><a href='#'>Product 1</a>-->
<!--	    <ul>-->
<!--		<li><a href='#'>Sub Product</a></li>-->
<!--		<li><a href='#'>Sub Product</a>-->
<!--		  <ul>-->
<!--		    <li><a href='#'>Sub Product</a></li>-->
<!--			<li><a href='#'>Sub Product</a></li>-->
<!--			<li><a href='#'>Sub Product</a></li>-->
<!--		  </ul>-->
<!--		</li>-->
<!--	      <li><a href='#'>Sub Product</a></li>-->
<!--	      <li><a href='#'>Sub Product</a></li>-->
<!--	      <li><a href='#'>Sub Product</a></li>-->
<!--	      <li><a href='#'>Sub Product</a></li>-->
<!--              <li><a href='#'>Sub Product</a></li>-->
<!--	  </ul>-->
<!--	</li>-->
<!--	<li><a href='#'>Product 2</a>-->
<!--	  <ul>-->
<!--	     <li><a href='#'>Sub Product</a></li>-->
<!--	     <li><a href='#'>Sub Product</a></li>-->
<!--          </ul>-->
<!--	</li>-->
<!--    </ul>-->
<!--  </li>-->
<!--  <li><a href='#'>About</a></li>-->
<!--  <li><a href='#'>Contact</a></li>-->
<!--</ul>-->
<!--</div>-->



<!--<ul class="tree">-->
<!--  <li><a href="">Home</a></li>-->
<!--  <li><span>Category</span>-->
<!--    <ul>-->
<!--      <li><a href="#">jQuery</a>-->
<!--        <ul>-->
<!--          <li><a href="#">jQuery</a></li>-->
<!--          <li><a href="#"><a href="https://www.jqueryscript.net/tags.php?/jQuery UI/">jQuery UI</a></a></li>-->
<!--          <li><a href="#">jQuery Mobile</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li><a href="#">JavaScript</a>-->
<!--        <ul>-->
<!--          <li><a class="active" href="#">AngularJS</a></li>-->
<!--          <li><a href="#">React</a></li>-->
<!--          <li><a href="#">Backbone</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li><a href="#suits">Golang</a></li>-->
<!--    </ul>-->
<!--  </li>-->
<!--  <li><a href="#about">About</a>-->
<!--    <ul>-->
<!--      <li><a href="#">Contact</a></li>-->
<!--      <li><a href="#">Blog</a></li>-->
<!--      <li><a href="#">Jobs</a>-->
<!--        <ul>-->
<!--          <li><a href="#jobs1">Job 1</a></li>-->
<!--          <li><a href="#jobs2">Job 2</a></li>-->
<!--          <li><a href="#jobs3">Job 3</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->


<!--<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->
<!--<script src="jquery.treemenu.js"></script>-->

<ul class="tree-padding tree-vertical-lines tree-horizontal-lines tree-summaries tree-markers tree-buttons">
  <li>
    <details open>
      <summary>Инструмент</summary>
      <ul>
        <li>
          <details>
            <summary>Режущий</summary>
            <ul>
              <li><a href="#">Пилы</a></li>
              <li><a href="#">Бензопилы</a></li>
              <li><a href="#">Стеклорезы</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Монтажный</summary>
            <ul>
              <li><a href="#">Наборы ключей</a></li>
              <li><a href="#">Ударный инструмент</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Сантехника</summary>
      <ul>
        <li>
          <details>
            <summary>Запорная арматура</summary>
            <ul>
              <li><a href="#">Краны перекрывающие</a></li>
              <li><a href="#">Клапаны</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Смесители</summary>
            <ul>
              <li><a href="#">Кухонные</a></li>
              <li><a href="#">Для санузлов</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Трубы</summary>
            <ul>
              <li><a href="#">ПВХ</a></li>
              <li><a href="#">Металлические</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Строительные материалы</summary>
      <ul>
        <li>
          <details>
            <summary>Смеси</summary>
            <ul>
              <li><a href="#">Шпатлевка</a></li>
              <li><a href="#">Штукатурка</a></li>
              <li><a href="#">Клеевые составы</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Древесина</summary>
            <ul>
              <li><a href="#">Доски обрезные</a></li>
              <li><a href="#">Брус</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Плитка</summary>
            <ul>
              <li><a href="#">Напольная</a></li>
              <li><a href="#">Настенная</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Электрика</summary>
      <ul>
        <li>
          <details>
            <summary>Провода</summary>
            <ul>
              <li><a href="#">Кабеля</a></li>
              <li><a href="#">Провод</a></li>
              <li><a href="#">Элементы монтажа</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Электромонтажное оборудование</summary>
            <ul>
              <li><a href="#">Розетки</a></li>
              <li><a href="#">Выключатели</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Защита электросетей</summary>
            <ul>
              <li><a href="#">Стабилизаторы напряжения</a></li>
              <li><a href="#">Дифференциальные автоматы, УЗО</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Электрооборудование</summary>
      <ul>
        <li>
          <details>
            <summary>Инструмент</summary>
            <ul>
              <li><a href="#">Пилы дисковые</a></li>
              <li><a href="#">Дрели, перфораторы, шуруповерты</a></li>
              <li><a href="#">Болгарки</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Товары для пайки</summary>
            <ul>
              <li><a href="#">Паяльники, паяльные станции</a></li>
              <li><a href="#">Аксессуары для пайки</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li>
    <details open>
      <summary>Мебель</summary>
      <ul>
        <li>
          <details>
            <summary>Офисная</summary>
            <ul>
              <li><a href="#">Столы</a></li>
              <li><a href="#">Стулья</a></li>
              <li><a href="#">Шкафы, комплекты</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Для кухни и гостинной</summary>
            <ul>
              <li><a href="#">Комплекты кухонные</a></li>
              <li><a href="#">Столы</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
</ul>

{% endblock content %}
