{% extends 'mainsite/base.html' %}

{% block content %}
<!--start carousel-->
<div id="mainCarousel" class="carousel slide my-carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/mainsite/img/santeh.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5><a href="#">Сантехника</a></h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/mainsite/img/bricks.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5><a href="#">Строительные материалы</a></h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/mainsite/img/metall.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5><a href="#">Металлопрокат</a></h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--end of carousel-->

<!--H1 Sales, promotional products-->
<hr>
<div class="container text-center">
  <div class="row">
    <div class="col align-self-center">
      <h2><span class="badge text-bg-danger">Акционные товары</span></h2>
    </div>
  </div>
</div>
<hr>
<!--End of h1-->

<!--start cards-->
<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="product-card">
          <div class="product-thumb">
            <a href="#"><img src="static/mainsite/img/wood.jpg" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">Доска клеенная березовая</a> </h4>
            <p>Выполнена из клеенных брусьев березы, размеры изделия: 1200х250*22</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>27.88 руб.</small> 11.99 руб.
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-regular fa-heart"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="product-card">
          <div class="product-thumb">
            <a href="#"><img src="static/mainsite/img/wood.jpg" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">Доска клеенная березовая</a> </h4>
            <p>Выполнена из клеенных брусьев березы, размеры изделия: 1200х250*22</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>27.88 руб.</small> 11.99 руб.
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-regular fa-heart"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="product-card">
          <div class="product-thumb">
            <a href="#"><img src="static/mainsite/img/wood.jpg" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">Доска клеенная березовая</a> </h4>
            <p>Выполнена из клеенных брусьев березы, размеры изделия: 1200х250*22</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>27.88 руб.</small> 11.99 руб.
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-regular fa-heart"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!--end product cards-->
{% endblock content %}
