{% extends 'mainsite/base.html' %}
{% load mainsite_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="ml-auto col-md-3">
            <div class="catalog">
                <ul class="tree-padding tree-vertical-lines tree-horizontal-lines tree-summaries tree-markers tree-buttons">
                    <li>
                        {% main_cats as m_cat %}
                        {% for main in m_cat %}
                            <li>
                            <details open>
                                <summary>{{ main.name }}</summary>
                                    {% sub_cats as s_cats %}
                                    {% for sub in s_cats %}
                                        {% if sub.main_cat_id == main.pk%}
                                            <ul>
                                                <li>
                                                  <details>
                                                    <summary>{{ sub.name }}</summary>
                                                    {% if main.pk == sub.main_cat_id %}
                                                      {% last_cats as l_cats %}
                                                      {% for last in l_cats %}
                                                        {% if last.sub_cat_id == sub.pk %}
                                                        <ul>
                                                          <li><a href="{{ last.get_absolute_url }}">{{ last.name }}</a></li>
                                                        </ul>
                                                        {% endif %}
                                                      {% endfor %}
                                                    {% endif %}
                                                  </details>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                            </details>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
<!--    </div>-->
<!--</div>-->


        {% for i in db_products %}
        <div class="col-md-2">
            <div class="product-card">
                <div class="product-thumb">
                {% if i.photo %}
                    <img src="{{i.photo.url}}">
                {% endif %}
                </div>
                <div class="product-details">
                    <h4><a href="{{ i.get_absolute_url }}">{{i.title}}</a></h4>
                    <p>{{i.description|truncatewords:10}}</p>
                    <div class="product-bottom-details d-flex justify-content-between">
                        <div class="product-price">
                            <small>27.88 руб.</small> {{i.price}}
                        </div>
                        <div class="product-links">
                            <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock content %}
