{% extends 'mainsite/base.html' %}
{% load mainsite_tags %}

{% block tree_catalog %}
<div class="container-fluid">
    <div class="row">
        <div class="ml-auto col-md-3">
            <div class="catalog">
                <ul class="tree-padding tree-vertical-lines tree-horizontal-lines tree-summaries tree-markers tree-buttons">
                    <li>

                        {% for main in m_cats %}
                            <li>
                            <details open>
                                <summary>{{ main.name }}</summary>

                                    {% for sub in s_cats %}
                                        {% if sub.main_cat_id == main.pk%}
                                            <ul>
                                                <li>
                                                    {% if selected_cat.sub_cat_id == sub.id %}
                                                      <details open>
                                                          <summary>{{ sub.name }}</summary>
                                                        {% if main.pk == sub.main_cat_id %}

                                                          {% for last in l_cats %}
                                                            {% if last.sub_cat_id == sub.pk %}
                                                            <ul>
                                                              {% if last.name == selected_cat.name %}
                                                              <li><a>{{ last.name }}</a></li>
                                                              {% else %}
                                                              <li><a href="{{ last.get_absolute_url }}">{{ last.name }}</a></li>
                                                              {% endif %}
                                                            </ul>
                                                            {% endif %}
                                                          {% endfor %}
                                                        {% endif %}
                                                    {% else %}
                                                      <details>
                                                          <summary>{{ sub.name }}</summary>
                                                        {% if main.pk == sub.main_cat_id %}

                                                          {% for last in l_cats %}
                                                            {% if last.sub_cat_id == sub.pk %}
                                                            <ul>
                                                              <li><a href="{{ last.get_absolute_url }}">{{ last.name }}</a></li>
                                                            </ul>
                                                            {% endif %}
                                                          {% endfor %}
                                                        {% endif %}

                                                    {% endif %}
                                                      </details>
                                                </li>
                                            </ul>
                                            {% endif %}
                                        {% endfor %}
                                </details>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
{% endblock tree_catalog %}

{% block content%}
        {% for i in db_products %}
        <div class="col-md-2">
            <div class="product-card">
                <div class="product-thumb">
                {% if i.photo %}<!--<tr><th>{{ i }}</th><th>{{ a }}</th><th>5</th></tr>-->
                    <img href="{{ i.get_absolute_url }}" src="{{i.photo.url}}">
                {% endif %}
                </div>
                <div class="product-details">
                    <h4><a href="{{ i.get_absolute_url }}">{{i.title}}</a></h4>
                    <p>{{i.description|truncatewords:10}}</p>
                    <div class="product-bottom-details d-flex justify-content-between">
                        <div class="product-price">
                            <small>27.88 руб.</small> {{i.price}}
                        </div>
                        <div class="product-links">
                            <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
