{% extends 'mainsite/base.html' %}

{% block content %}
<form  method="post">
    {% csrf_token %}
     <div class="container-fluid">

 <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6">
    <div class="form-container">
    <h3 class="title">Create Account</h3>
    <ul class="social-links">
        <li><a href=""><i class="fab fa-google"></i></a></li>
        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
    </ul>
    <span class="description">or use you email for registration:</span>
    <form class="form-horizontal">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="checkbox" class="checkbox">
            <span class="check-label">I agree to the <a href="">Terms</a> and <a href="">Privacy Policy.</a></span>
        </div>
        <button class="btn signup">Sign up</button>
        <button class="btn signin">Sign in</button>
    </form>
    </div>
 </div>

 </div>
</form>
{% endblock content %}